In [1]:
import pandas as pd

In [29]:
enc_chr = pd.read_csv('enc_chromosomes.txt', header=None)
enc_chr.columns = ['chr']

enc_chr.head()
enc_chr['new_chr'] = enc_chr['chr'].tolist()
enc_chr['suff'] = ''

inds = enc_chr.loc[enc_chr.chr.str.contains('_')].index
enc_chr.loc[inds, 'new_chr'] = enc_chr.loc[inds].new_chr.str.split('_', expand=True)[1]
enc_chr.loc[inds, 'new_chr'] = enc_chr.loc[inds].new_chr.str.split('v', expand=True)[0]
enc_chr.loc[inds, 'suff'] = enc_chr.loc[inds].chr.str.split('v', expand=True)[1].str.split('_', expand=True)[0]

enc_chr.loc[inds, 'new_chr'] = enc_chr.loc[inds, 'new_chr']+'.'+enc_chr.loc[inds, 'suff']
enc_chr.head()

                       chr     new_chr suff
0                     chr1        chr1
1                    chr10       chr10
2                    chr11       chr11
3  chr11_KI270721v1_random  KI270721.1    1
4                    chr12       chr12

In [30]:
ch = pd.read_csv('chromosomes.txt', header=None)
ch.columns = ['chr']
ch.head()

          chr
0  ERCC-00002
1  ERCC-00003
2  ERCC-00004
3  ERCC-00009
4  ERCC-00012

In [31]:
enc_chr.loc[~enc_chr.new_chr.isin(ch.chr.unique().tolist())]

       chr new_chr suff
31  chrEBV  chrEBV

In [21]:
ch.loc[ch.chr.str.contains('GL000195')]

           chr
95  GL000195.1

In [16]:
ch.loc[ch.chr.str.startswith('K'), 'chr'].str.split('.', expand=True)[1].unique()

array(['1'], dtype=object)

In [32]:
enc_chr.to_csv('rename_chrom.tsv', sep='\t')

In [33]:
enc_chr

                        chr     new_chr suff
0                      chr1        chr1
1                     chr10       chr10
2                     chr11       chr11
3   chr11_KI270721v1_random  KI270721.1    1
4                     chr12       chr12
5                     chr13       chr13
6                     chr14       chr14
7   chr14_GL000009v2_random  GL000009.2    2
8   chr14_GL000194v1_random  GL000194.1    1
9                     chr15       chr15
10                    chr16       chr16
11  chr16_KI270728v1_random  KI270728.1    1
12                    chr17       chr17
13  chr17_GL000205v2_random  GL000205.2    2
14                    chr18       chr18
15                    chr19       chr19
16   chr1_KI270711v1_random  KI270711.1    1
17   chr1_KI270713v1_random  KI270713.1    1
18                     chr2        chr2
19                    chr20       chr20
20                    chr21       chr21
21                    chr22       chr22
22  chr22_KI270733v1_random  KI270733.1    1
23  chr22_KI270734v1_random  KI270734.1    1
24                     chr3        chr3
25                     chr4        chr4
26                     chr5        chr5
27                     chr6        chr6
28                     chr7        chr7
29                     chr8        chr8
30                     chr9        chr9
31                   chrEBV      chrEBV
32                     chrM        chrM
33         chrUn_GL000195v1  GL000195.1    1
34         chrUn_GL000213v1  GL000213.1    1
35         chrUn_GL000218v1  GL000218.1    1
36         chrUn_GL000219v1  GL000219.1    1
37         chrUn_GL000220v1  GL000220.1    1
38         chrUn_GL000224v1  GL000224.1    1
39         chrUn_KI270744v1  KI270744.1    1
40                     chrX        chrX
41                     chrY        chrY